*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jacques Francois';
}

nav{
  position: relative;
  z-index: 99;
  width: 100%;
  background: #125B50;
}
nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 5%;
  height: auto;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo a{
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  font-family: Henny Penny;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background: #94B49F;
}

.on{
  color: #FF5D5D !important;
}

.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: #125B50;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background: #125B50;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: #f2f2f2;
}
.wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}

nav input{
  display: none;
}

.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}



.row-2-home{
  background-color: #B8F1B0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100vh;
}

.row-2{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.col-2 img{
    max-width: 100%;
    padding: 50px 0px;
}

.col-2 h1{
    font-size: 50px;
    line-height:  60px;
    margin: 25px 0;
}

.explore-btn{
    display: inline-block;
    background: #125B50;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: all 0.4s ease;
    text-decoration: none;
}

.explore-btn:hover{
    background-color: #94B49F;
}


.col{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* CATEGORIES */
/* image Hover */

.img-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
}

.box{
  position: relative;
  width: 50%;
}

.image{
  display: block;
  width: 100%;
  height: auto;
  /* padding: 10px; */
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
  /* padding: 10px; */
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
}

.box:hover .overlay {
  opacity: 0.7;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

.small-container{
    /* max-width: 1250px; */
    margin: auto 10%;
}

.col-4 img{
    width: 100%;
}

.col-4 .new{
    background-color: #125B50;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 30px;
}

.col-4 .best-seller{
    border: 3px solid #FF5D5D;
    border-radius: 50%;
    padding: 5px;
    width: 200px;
    height: 200px;
    font-size: 12px;
    color: #FF5D5D;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.col-4 h3{
  text-align: center;
  font-size: 16px;
}
.col-4 .product-description{
  text-align: center;
  color: #125B50;
  font-size: 12px;
}

.col-4 p{
  text-align: center;
  
}
.col-4{
  flex-basis: 20%;
  padding: 10px;
  min-width: 200px;
  margin-bottom:  50px;
  margin-left: 0.1%;
  margin-right: 0.1%;
  transition: all 0.3s ease;
}
.col-4:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height:  60px;
  color: #4B5D67;
}
.title::after{
  content: '';
  background: #125B50;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

h4{
  color: #4B5D67;
  font-weight: normal;
}

/* -------------------testimonial------------------------------- */

.testimonial{
    padding-top: 50px;
    padding-bottom: 50px;
}

.testimonial .quote .fa-quote-right{
  color: #4B5D67;
}

.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .stars{
    color: #125B50;
    padding-bottom: 20px;
}

/*-----------------footer------------------*/

footer .container{
    display: flex;
    justify-content: space-evenly;
    height: auto;
    flex-wrap: wrap;
    background-color: #125B50;
}

.footer-col-3 ul li, .footer-col-4 ul li, .container a{
    text-decoration: none;
    list-style: none;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo-1{
    color: #ffffff;
    font-family: 'henny penny';
}

.footer-col-1 h3{
    color: #fff;
}

.footer-col-1  a{
    color: #97C4B8;
}

.footer-col-2 p{
    color: #97C4B8;
}
.footer-col-3 h3{
    color: #fff;
}
.footer-col-3 ul li a{
    color: #97C4B8;
    transition: all 0.4s ease;
}
.footer-col-4 h3{
    color: #fff;
}

.footer-col-4 ul li a{
    color: #97C4B8;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.footer-col-3 ul li a:hover{
  color: #FFF;

}

.footer-col-4 ul li :hover{
  color: #FFF;
  
}

@media screen and (max-width: 800px) {
    .wrapper .btn{
      display: block;
    }
    .wrapper .nav-links{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 350px;
      top: 0;
      left: -100%;
      background: #125B50;
      display: block;
      padding: 50px 10px;
      line-height: 50px;
      overflow-y: auto;
      box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
      transition: all 0.3s ease;
    }
    /* custom scroll bar */
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background: #242526;
    }
    ::-webkit-scrollbar-thumb {
      background: #3A3B3C;
    }
    #menu-btn:checked ~ .nav-links{
      left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn{
      display: none;
    }
    #close-btn:checked ~ .btn.menu-btn{
      display: block;
    }
    .nav-links li{
      margin: 15px 10px;
    }
    .nav-links li a{
      padding: 0 20px;
      display: block;
      font-size: 20px;
    }
    .nav-links .drop-menu{
      position: static;
      opacity: 1;
      top: 65px;
      visibility: visible;
      padding-left: 20px;
      width: 100%;
      max-height: 0px;
      overflow: hidden;
      box-shadow: none;
      transition: all 0.3s ease;
    }
    #showDrop:checked ~ .drop-menu,
    #showMega:checked ~ .mega-box{
      max-height: 100%;
    }
    .nav-links .desktop-item{
      display: none;
    }
    .nav-links .mobile-item{
      display: block;
      color: #f2f2f2;
      font-size: 20px;
      font-weight: 500;
      padding-left: 20px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.3s ease;
    }
    .nav-links .mobile-item:hover{
      background: #94B49F;
    }
    .drop-menu li{
      margin: 0;
    }
    .drop-menu li a{
      border-radius: 5px;
      font-size: 18px;
    }
    .mega-box{
      position: static;
      top: 65px;
      opacity: 1;
      visibility: visible;
      padding: 0 20px;
      max-height: 0px;
      overflow: hidden;
      transition: all 0.3s ease;
    }
    .mega-box .content{
      box-shadow: none;
      flex-direction: column;
      padding: 20px 20px 0 20px;
    }
    .mega-box .content .row{
      width: 100%;
      margin-bottom: 15px;
      border-top: 1px solid rgba(255,255,255,0.08);
    }
    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2){
      border-top: 0px;
    }
    .content .row .mega-links{
      border-left: 0px;
      padding-left: 15px;
    }
    .row .mega-links li{
      margin: 0;
    }
    .content .row header{
      font-size: 19px;
    }

    .col{
      flex-direction: column;
    }
    .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
      width: 50%;
      margin-bottom: 30px;
      padding-left: 20px;
    }

    .text{
      font-size: smaller;
    }

    .img-container{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 10px;
    }

    .box{
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .col-4{
      margin-left: 2%;
      margin-right: 2%;
    }
  }



  @media(max-width: 574px){
    .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
      width: 100%;
      padding-left: 60px;
      padding-right: 60px;

    }
  }

